input:invalid {
  background: red;
}

.ocjena2{
	font-size: 30px;
}
.rezultat{
  margin: auto;
  width: 25%;
  border: 3px solid;
  padding: 10px;
}

.rezultat p{
	text-align:center;
}